.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-image: linear-gradient(to right, #00b09b, #2c62aa);
}
.body {
  min-height: 100vh;
}
.topWrapper {
  border: 1px solid black;
  display: flex;
  margin: 45px;
}
.actions {
  margin: 100px;
  flex: 5;
  display: flex;
  flex-direction: column;
}
.actions button:hover {
  border: 2px solid black;
}
.submitBtn {
  width: 50%;
  font-size: 20px;
  color: white;
  height: 50px;
  padding: 5px 15px 5px 0px;
  background-color: rgb(18, 59, 114);
  border: none;
  border-bottom-right-radius: 16px;
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 600;
}
.previewBtn {
  width: 50%;
  color: white;
  font-size: 20px;
  height: 50px;
  padding: 5px 15px 5px 0px;
  background-color: rgb(34, 126, 57);
  border: none;
  border-bottom-right-radius: 16px;
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 600;
}
.setBtn {
  width: 50%;
  font-size: 20px;
  color: white;
  height: 50px;
  padding: 5px 15px 5px 0px;
  background-color: rgb(3, 50, 68);
  border: none;
  border-bottom-right-radius: 16px;
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 600;
}
.castBtn {
  width: 50%;
  font-size: 20px;
  color: white;
  height: 50px;
  padding: 5px 15px 5px 0px;
  background-color: rgb(5, 73, 36);
  border: none;
  border-bottom-right-radius: 16px;
  margin-bottom: 25px;
  cursor: pointer;
  font-weight: 600;
}
.history {
  flex: 7;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.startButton {
  padding: 15px 25px;
  font-size: 20px;

  background-color: rgb(18, 84, 85);
  cursor: pointer;
  color: white;
}
.bottomWrapper {
  display: flex;
  margin: 45px;
}
