.container {
  width: 100vw;
}
.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 25px;
  cursor: pointer;
  width: 25%;
  height: 50px;
  background-image: linear-gradient(to right, #08095c, #0a565c);
  margin-bottom: 25px;
  border-radius: 5px;
}
.bar p {
  color: white;
  font-size: larger;
}
.aifill {
  color: white;
}
