.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userName {
  display: flex;
  flex-direction: column;
}
.userName label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.userName input {
  width: 30vw;
  padding: 15px 50px 15px 5px;
  border-radius: 6px;
  border: 2px solid grey;
  margin-bottom: 20px;
}
.passWord {
  display: flex;
  flex-direction: column;
}
.passWord label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.passWord input {
  padding: 15px 50px 15px 5px;
  border-radius: 6px;
  width: 30vw;
  border: 2px solid grey;
  margin-bottom: 20px;
}
.btn {
  background-color: rgb(8, 77, 42);
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
}
.register {
  display: flex;
}
.register p {
  margin-right: 6px;
  font-size: 16px;
  color: rgb(4, 78, 4);
}
.registration {
  text-decoration: underline;
  cursor: pointer;
}
