.container {
  height: 79px;
  width: 100vw;
  background-color: rgb(15, 15, 37);
}
.mainWrapper {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white;
}
.buttonContainer {
  padding-right: 30px;
}
.buttonContainer button {
  margin-left: 30px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
}
.buttonContainer button:hover {
  border: 2px solid #f2f5f4;
}
.logBtn {
  background-color: rgb(16, 190, 103);
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.signBtn {
  background-color: rgb(16, 190, 103);
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
