.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper div label {
  margin: 10px 0px;
}

.nameWrapper {
  display: flex;
}
.name {
  display: flex;
  flex-direction: column;
}
.name input {
  width: 30vw;
  height: 30px;
  border: 1px solid green;
  border-radius: 6px;
}
.address {
  display: flex;
  flex-direction: column;
}
.address input {
  width: 60vw;
  border: 1px solid green;
  height: 30px;
  border-radius: 6px;
}
.department {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}
.department select {
  width: 27vw;

  height: 30px;
  border: 1px solid green;
  border-radius: 6px;
}
.department option {
  height: 30px;
}
.email {
  display: flex;
  flex-direction: column;
}
.email input {
  width: 60vw;
  border: 1px solid green;
  height: 30px;
  border-radius: 6px;
}
.passportNumber input {
  width: 60vw;
  border: 1px solid green;
  height: 30px;
  border-radius: 6px;
}
.passportNumber {
  display: flex;
  flex-direction: column;
}
.passportCountry {
  display: flex;
  flex-direction: column;
}
.passportCountry select {
  width: 60vw;
  border: 1px solid green;
  height: 30px;
  border-radius: 6px;
}
.residence {
  display: flex;
  flex-direction: column;
}
.residence select {
  width: 60vw;
  border: 1px solid green;
  height: 30px;
  border-radius: 6px;
}
.username {
  display: flex;
  flex-direction: column;
}
.username input {
  width: 60vw;
  height: 30px;
  border: 1px solid green;
  border-radius: 6px;
}
.password {
  display: flex;
  flex-direction: column;
}
.password input {
  width: 60vw;
  height: 30px;
  border: 1px solid green;
  border-radius: 6px;
}
.confirm {
  display: flex;
  flex-direction: column;
}
.confirm input {
  width: 60vw;
  height: 30px;
  border: 1px solid green;
  border-radius: 6px;
}
.regButton {
  background-color: rgb(8, 77, 42);
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 10px 30px;

  margin-top: 20px;
}
.existAccount {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log {
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(5, 59, 5);
  font-weight: 400;
}
